def hfEnv = System.getenv()
def hfClusterOptions = []
if (hfEnv.HF_SLURM_ACCOUNT) hfClusterOptions << "--account=${hfEnv.HF_SLURM_ACCOUNT}"
if (hfEnv.HF_SLURM_QOS) hfClusterOptions << "--qos=${hfEnv.HF_SLURM_QOS}"

process {
    executor = 'slurm'
    queue = hfEnv.HF_SLURM_PARTITION ?: null
    clusterOptions = hfClusterOptions.join(' ')
    env.PATH = hfEnv.HF_CERTIFIED_RUNTIME_PATH
}
executor {
    queueSize = (hfEnv.HF_MAX_CONCURRENT_JOBS ?: '5') as int
    submitRateLimit = '10 sec'
}
workDir = hfEnv.HF_WORK_ROOT
