def hfEnv = System.getenv()
def hfClusterOptions = []
if (hfEnv.HF_SLURM_ACCOUNT) hfClusterOptions << "--account=${hfEnv.HF_SLURM_ACCOUNT}"
if (hfEnv.HF_SLURM_QOS) hfClusterOptions << "--qos=${hfEnv.HF_SLURM_QOS}"

process {
    executor = 'slurm'
    queue = hfEnv.HF_SLURM_PARTITION ?: null
    clusterOptions = hfClusterOptions.join(' ')
}
executor {
    queueSize = 5
    submitRateLimit = '10 sec'
}
workDir = hfEnv.HF_WORK_ROOT
